@import '../../../../../assets/styles/index.scss';

.container {
    max-width: 100%;
    height: 88px;
}

.top {
    display: grid;
    grid-template-columns: 1fr 48px 48px;
    column-gap: 10px;
}

.cell {
    display: flex;
    align-items: center;
    max-width: 100%;
}

.imageContainer {
    min-width: 45px;
    max-width: 45px;
    min-height: 45px;
    max-height: 45px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    min-height: 45px;
    max-height: 45px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    max-width: calc(100% - 55px);
}

.title {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 130%;
    margin-bottom: 3px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.price {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    color: #ABBBC2;
}

.countContainer {
    background-color: #2D303E;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 48px;
    height: 48px;
}

.count {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
}

.priceContainer {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.totalPrice {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
}

.bottom {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 2fr 48px;
    column-gap: 10px;
}

.input {
    input {
        height: 48px;
    }
}

.icon {
    width: 48px;
    height: 48px;
    border: 1px solid $PRIMARY_ORANGE;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
