@import "../../../assets/styles/index.scss";

@mixin defaultErrorStyle {
    margin: 5px 0 15px;
    font-size: 0.8rem;
    transition: all 0.2s ease;
}

.select {
    p {
        margin-bottom: 10px;
        display: block;
        font-weight: 500;
        font-size: 14px
    }

    &__error {
        @include defaultErrorStyle;
        color: transparent !important;
        transform: translateY(-5px);

        &_visible {
            @include defaultErrorStyle;
            color: $RED;
            transform: translateY(0);
        }
    }
}

.primary {
    p {
        color: $TEXT_PRIMARY_DARK;
    }
}
