.container {
    padding: 0 30px;
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imageContainer {
    width: 122px;
    height: 122px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.image {
    height: 100%;
    user-select: none;
}

.addImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background-color: rgba($color: #000000, $alpha: 0.3);
        transition: all 0.3s ease;
    }
}

.button {
    width: 170px;
}

.body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    padding: 30px 0 15px;
    border-bottom: 1px solid #DEDEDE;
}

.input {
    input {
        height: 42px;
        font-size: 14px;
        padding: 0 10px;
    }
}

.prices {
    padding: 20px 0;
}

.pricesItem {
    padding: 20px 0 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.city,
.radioTitle {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #2D303E;
}

.city {
    position: relative;
    top: 50%;
    transform: translate(0, -100%);
    height: min-content;
}

.radioTitle {
    span {
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        color: #676767;
    }
}

.pricesInputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    align-items: center;
}

.pricesRadioButtons {
    display: flex;
    flex-direction: column;
}

.radioButtonsItem {
    display: flex;
    align-items: center;
    height: 100%;
    color: #2D303E;

    span {
        font-size: 14px;
    }
}

.firstRadio {
    height: min-content;
    margin-top: 8px;
}
